* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-image: url(../images/cover.jpeg);
  background-size: cover;
  width: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 83%;
  color: #ffffff;
  display: flex;
  justify-content: center; }

.hamburguer {
  display: flex;
  flex-direction: flex-start;
  align-items: flex-start;
  justify-content: flex-start; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-spacing: 100vw;
  margin-left: 25%;
  margin-right: 25%;
  line-height: 1.5;
  margin-top: 25vh; }

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px; }

.text2 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  margin-right: 25%;
  text-transform: lowercase; }

.text2::first-letter {
  text-transform: uppercase; }

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #d9e4cc; }

h3 {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 20px;
  color: #6c933e;
  background-color: #ffffff; }

.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem; }

h2 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px; }

.article p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px; }

button {
  width: 100px;
  height: 50px;
  border-radius: 40%;
  margin-left: -17vh;
  background-color: white;
  color: #6c933e;
  border-color: #6c933e; }

button::first-letter {
  text-transform: uppercase; }

.content__grid {
  background-color: #d9e4cc;
  display: grid;
  grid-template-areas: "box1" "pbox1" "box2" "pbox2" "box3" "pbox3";
  width: 100vw; }

.box1 {
  width: 9.4rem;
  height: 8.75rem;
  border-radius: 50%; }

.pbox1 {
  text-align: center;
  padding-bottom: 1.5rem; }

.box2 {
  width: 9.4rem;
  height: 8.75rem;
  border-radius: 50%; }

.pbox2 {
  text-align: center;
  padding-bottom: 1.5rem; }

.box3 {
  width: 9.4rem;
  height: 8.75rem;
  border-radius: 50%; }

.pbox3 {
  text-align: center;
  padding-bottom: 1.5rem; }

.title1 {
  color: #626262;
  text-transform: none; }

.title2 {
  text-transform: uppercase; }

.btn {
  background-color: #d9e4cc; }

.btn-2 {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  background-color: #6c933e;
  color: #ffffff; }

footer {
  background-color: #4a4a4a;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px; }

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  color: white;
  line-height: 2; }

.copy {
  color: white;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2; }

.love {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; }

/*# sourceMappingURL=main.css.map */
