.content__grid { 
  background-color: #d9e4cc;
  display: grid;
  grid-template-areas: "box1" "pbox1" "box2" "pbox2" "box3" "pbox3" "btn";
  width: 100vw;
  padding-left: 5rem;
  padding-bottom: 2rem;  
}
&__title1{
  color: #626262;
  text-transform: none; 
  background-color: #d9e4cc;
  margin-left: -2.2rem;
}
&__title2{
  text-transform: uppercase;
  margin-left: -1.2rem;
}
&__box1{
  width: 9.4rem;
  height: 8.75rem;
  border-radius: 50%;
}
&__box1{
  width: 9.4rem;
  height: 8.75rem;
  border-radius: 50%;
}
&__box2{
  width: 9.4rem;
  height: 8.75rem;
  border-radius: 50%;
}
&__pbox2{
  text-align: center;
  padding-bottom: 1.5rem;
  margin-left: -6rem;
}
&__box3{
  width: 9.4rem;
  height: 8.75rem;
  border-radius: 50%;
}
&__pbox3{
  text-align: center;
  padding-bottom: 1.5rem;
  margin-left: -6rem;
}
&__btn{
  background-color: #d9e4cc; 
}





















