*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    width: auto;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: 83%;
    color: #ffffff;
    display: flex;

} 
.container{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center; 

} 
h1{
    text-transform: uppercase;  
    font-size: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 10px;
} 
p{
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;  
}
